<app-menu [user]="user"></app-menu>
<div class="appointment-container">
    <h2>Planifiez votre rendez-vous</h2>
    <p>Remplissez les informations ci-dessous pour réserver un créneau.</p>
    <form (ngSubmit)="submitAppointment()" class="appointment-form" #appointmentForm="ngForm">
        <div class="form-group">
            <label for="car">Marque et modèle de voiture</label>
            <input type="text" id="car" [(ngModel)]="appointment.vehicle" name="car" placeholder="Marque et modèle"
                required #car="ngModel">
            <div *ngIf="car.invalid && car.touched" class="error-message">Champ requis</div>
        </div>
        <div class="form-group">
            <label for="service">Choisissez un service</label>
            <select id="service" [(ngModel)]="appointment.serviceType" name="service" required #service="ngModel">
                <option value="oilChange">Changement d'huile</option>
                <option value="tireChange">Changement de pneus</option>
                <option value="maintenance">Entretien général</option>
            </select>
            <div *ngIf="service.invalid && service.touched" class="error-message">Service requis</div>
        </div>
        <div class="form-group">
            <label for="appointmentDate">Sélectionner la date</label>
            <input type="datetime-local" id="appointmentDate" [(ngModel)]="appointment.appointmentDateTime"
                name="appointmentDate" required #date="ngModel">
            <div *ngIf="date.invalid && date.touched" class="error-message">Date requise</div>
        </div>

        <div class="form-group">
            <mat-form-field appearance="fill" class="full-width-form-field">
                <label for="mechanic">Mécanicien (facultatif)</label>
                <input type="text" matInput [formControl]="userControl" [matAutocomplete]="auto"
                    placeholder="Rechercher un mécanicien" name="mechanic">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)='selectUser($event.option.value)'>
                    <mat-option [value]="null">--</mat-option>
                    <mat-option *ngFor="let user of filteredMechanics | async" [value]="user.name">
                        {{user.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>



        <div class="form-group" style="display: none;">
            <label for="status">Statut du rendez-vous</label>
            <select id="status" [(ngModel)]="appointment.status" name="status" required #status="ngModel">
                <option value="Planifié">Planifié</option>
                <option value="En cours">En cours</option>
                <option value="Terminé">Terminé</option>
                <option value="Annulé">Annulé</option>
            </select>
            <div *ngIf="status.invalid && status.touched" class="error-message">Statut requis</div>
        </div>
        <button type="submit" class="btn-submit" [disabled]="appointmentForm.invalid">Confirmer le Rendez-vous</button>
    </form>
</div>
<app-footer></app-footer>