<nav *ngIf="pageDisplay" class="navbar">
    <ul>
        <li><a [routerLink]="'/home'">Accueil</a></li>
        <li><a [routerLink]="'/home'">Nos Services</a></li>
        <li><a [routerLink]="'/home'">À Propos</a></li>
        <li *ngIf="userData"><a (click)="toList()">Mes rendez-vous</a></li>
        <li *ngIf="userData" class="auth-buttons">
            <button (click)="logout()">Se déconnecter</button>
        </li>
        <li *ngIf="!userData && show" class="auth-buttons">
            <button routerLink="/login">Se connecter</button>
            <button routerLink="/subscription">S'inscrire</button>
        </li>
    </ul>
</nav>