<app-menu [user]="user"></app-menu>
<div *ngIf="show" class="example-container">
    <mat-form-field appearance="outline">
        <mat-label>Rechercher</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Rechercher">
    </mat-form-field>
    <button [routerLink]="'/home'" class="add-btn">Créer un rendez-vous</button>
    <table mat-table [dataSource]="dataSource" matSort class="appointment-table">
        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de création</th>
            <td mat-cell *matCellDef="let element">
                {{element.createdAt | date:'dd/MM/yyyy HH:mm'}}
            </td>
        </ng-container>
        <ng-container matColumnDef="serviceType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type de service</th>
            <td mat-cell *matCellDef="let element"> {{element.serviceType}} </td>
        </ng-container>
        <ng-container matColumnDef="vehicle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Voiture</th>
            <td mat-cell *matCellDef="let element"> {{element.vehicle}} </td>
        </ng-container>
        <ng-container matColumnDef="appointmentDateTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date du rendez-vous</th>
            <td mat-cell *matCellDef="let element">
                {{element.appointmentDateTime | date:'dd/MM/yyyy HH:mm'}}
            </td>
        </ng-container>
        <ng-container matColumnDef="mechanic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mécanicien</th>
            <td mat-cell *matCellDef="let element" class="mat-column-Client">
                <span class="mechanic-name">
                    {{element.mechanic?.name}}
                </span>
                <div class="hover-text" *ngIf="element.mechanic?.mobil || element.mechanic?.mail">
                    <ul>
                        <li><i class="material-icons">phone</i>{{element.mechanic?.mobil}}</li>
                        <li><i class="material-icons">email</i>{{element.mechanic?.mail}}</li>
                    </ul>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="statusModif">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Modifier status</th>
            <td mat-cell *matCellDef="let element">
                <mat-select *ngIf="isCreationDateInTheFuture(element.appointmentDateTime)" [(value)]="element.status"
                    (selectionChange)="onStatusChange(element)">
                    <mat-option *ngFor="let status of statusList" [value]="status">
                        {{ status }}
                    </mat-option>
                </mat-select>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="pagination-container">
        <p class="total-text">Total : {{total}}</p>
        <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
            aria-label="Sélectionner la page des éléments périodiques">
        </mat-paginator>
    </div>
</div>
<div class="not-found" *ngIf="!show">
    <section class="appointment-section">
        <h2>Prenez rendez-vous facilement 📅</h2>
        <p>Vous n'avez pas de rendez-vous</p>
        <button [routerLink]="'/home'">Réserver maintenant</button>
    </section>
</div>
<app-footer></app-footer>