<app-menu></app-menu>
<div class="appointment-container">
    <h2>Prendre un Rendez-vous</h2>
    <form (ngSubmit)="submitAppointment()" class="appointment-form">
        <div class="form-group">
            <label for="car">Marque et modèle de voiture</label>
            <input type="text" id="car" [(ngModel)]="appointment.car" name="car"
                placeholder="Entrez la marque et le modèle" required>
        </div>

        <div class="form-group">
            <label for="service">Sélectionner un service</label>
            <select id="service" [(ngModel)]="appointment.service" name="service" required>
                <option value="oilChange">Changement d'huile</option>
                <option value="tireChange">Changement de pneus</option>
                <option value="maintenance">Entretien général</option>
            </select>
        </div>

        <div class="form-group">
            <label for="appointmentDate">Sélectionner la date</label>
            <input type="datetime-local" id="appointmentDate" [(ngModel)]="appointment.date" name="appointmentDate"
                required>
        </div>

        <button type="submit" class="btn-submit">Confirmer le Rendez-vous</button>
    </form>
</div>
<app-footer></app-footer>